// Colors
$color-footer-text: hsl(240, 2%, 79%);
$footer-background-dark: hsl(240, 10%, 16%);
$header-background-color: hsl(355, 100%, 74%);
$color-backgraound-button: hsl(355, 100%, 74%);
$color-primary: hsl(356, 100%, 66%);
$color-Primary-Very-light-hover: hsl(355, 100%, 74%);
$color-primary-Very-dark: hsl(208, 49%, 24%);
$color-text-primary: hsl(0, 0%, 100%);
$color-footer-text: hsl(240, 2%, 79%);
$color-text-navlist:#212121;
$color-secondary-Very-dark: hsl(207, 13%, 34%);
// color buttons
 $background-color-button:hsl(0, 0%, 100%);
//buttons hover main
$button-background-hover-main:hsl(355, 100%, 74%);
$button-color-text-hover-main:  hsl(0, 0%, 100%);
//button hover secondary
$button-background-hover-secondary:  hsl(0, 0%, 100%);
$button-color-text-secondary: $color-primary;
$color-Very-light-red: hsl(13, 100%, 72%);
$color-Light-red: hsl(353, 100%, 62%);
$color-Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);
$padding-bottom-titles-description:30px;
